.pokemon-icon {
    display: inline-block;
    width: 40px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url('../images/pokesprite.png');
}

.pokemon-icon-656 {
    background-position: -0px -1620px;
}

.pokemon-icon-657 {
    background-position: -80px -1620px;
}

.pokemon-icon-658 {
    background-position: -160px -1620px;
}
